*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html

# rcov generated
coverage
coverage.data

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
/vendor/bundle
.bundle
Gemfile.lock

# jeweler generated
pkg
.idea/